.footer {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
  padding: 60px 80px 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 1;
}

.footer__circle {
  width: 340px;
  height: 340px;
  display: flex;
  position: absolute;
  top: -128px;
  left: -44px;
  background: #2f80ed;
  border-radius: 50%;
  z-index: 0;
}

.footer__social {
  margin: 0;
}

.footer__social-heading {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__social-link {
   display: flex;
 gap: 10px;
 align-items: center;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  color: #ffffff;


}

.footer__list {
  list-style-type: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.footer__list-item {
  color: #ffffff;
}

.footer__social-link{
  color: #ffffff;
}

.footer__copyright {
  color: #ffffff;
  padding-top: 108px;
  padding-bottom: 60px;
}
