.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 8px;
}

.form__input {
  height: 60px;
  padding: 15px 0 15px 20px;
  border: 1px solid #838383;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-bottom: 32px;
  box-sizing: border-box;
  width: 100%;
}

.form__button {
  max-width: 385px;
  height: 60px;
  background-color: #2f80ed;
  border: none;
  border-radius: 4px;
  opacity: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
  margin: 32px 0 20px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_type_checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
}
.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
