.nav {
  display: flex;
  justify-content: space-between;
  max-height: 80px;
  padding: 0 80px 0 30px;
}

.nav__logo {
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
}

.nav__link {
  font-weight: 500;
  padding: 0;
  color: #000000;
  text-decoration: none;
}
