.recipes {
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a2750;
  padding: 100px 0 215px 80px;
  position: relative;
}

.recipes__title {
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  margin-top: 24px;
  max-width: 438px;
  font-family: "Noto serif", "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}

.recipes__videos-item {
  position: relative;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__videos-caption {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
