* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 0 40px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  max-height: 80px;
  padding: 0 80px 0 30px;
}

.nav__logo {
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
}

.nav__link {
  font-weight: 500;
  padding: 0;
  color: #000000;
  text-decoration: none;
}

.header__title {
  position: relative;
  left: 80px;
  max-width: 709px;
  margin-top: 183px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}
.header__span-accent {
  display: block;
  font-family: "Noto serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  position: relative;
  left: 80px;
  max-width: 683px;
  margin-top: 28px;
  font-family: "Noto serif", "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 0 80px;
  align-items: flex-end;
}

.header__schedule {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  display: flex;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a2750;
  padding: 100px 0 215px 80px;
  position: relative;
}

.recipes__title {
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  margin-top: 24px;
  max-width: 438px;
  font-family: "Noto serif", "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}

.recipes__videos-item {
  position: relative;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__videos-caption {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.reservation {
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d9e7ff;
  padding: 100px 0 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
  text-align: center;
  margin-bottom: 80px;
}

.reservation__form {
  max-width: 385px;
  width: 100%;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 8px;
}

.form__input {
  height: 60px;
  padding: 15px 0 15px 20px;
  border: 1px solid #838383;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-bottom: 32px;
  box-sizing: border-box;
  width: 100%;
}

.form__button {
  max-width: 385px;
  height: 60px;
  background-color: #2f80ed;
  border: none;
  border-radius: 4px;
  opacity: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
  margin: 32px 0 20px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_type_checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
}
.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
